<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>(ADMIN) Bertils Blog</title>
		<link rel="stylesheet" href="admin.css" />
	</head>
	<body>
		<header>
			<h1>Programmerings Blog</h1>
		</header>
		<section class="post-container">
			<section class="post">
				<h2 contenteditable="true" id="post-title" class="edit-border">
					Hello World!
				</h2>
				<div contenteditable="true" id="post-content" class="edit-border">
					Lorem ipsum...
				</div>
			</section>
			<input id="post-submit" type="submit" value="Opret Post" />
		</section>
		<footer>
			<hr />
			<p id="copyright">@Copyright Bertil Frigaard 2024</p>
		</footer>
	</body>
	<script src="admin.js"></script>
</html>
