<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(ADMIN) Bertil Frigaard</title>
    <link rel="stylesheet" href="css/admin.css">
</head>
<body>
	<header>
		<h1>Programmerings Blog</h1>
	</header>
    <section id="actions">
        <a href="/newPost">
            <img src="icons/edit.png">
            New Post
        </a>
        <a href="/listPost">
            <img src="icons/list.png">
            List Post
        </a>
        <a href="/security">
            <img src="icons/globe.png">
            Security
        </a>
        <a href="/images">
            <img src="icons/picture.png">
            Images
        </a>
    </section>
    <footer>
        <hr />
        <p id="copyright">@Copyright Bertil Frigaard 2024</p>
    </footer>
</body>
</html>