<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Bertil Frigaard</title>
		<link rel="stylesheet" href="css/home.css" />
	</head>
	<body>
		<header>
			<h1>Programmerings Blog</h1>
		</header>
		<section id="post-container"></section>
		<button id="post-load-button">Se Flere</button>
		<footer>
			<hr />
			<p id="copyright">@Copyright Bertil Frigaard 2024</p>
		</footer>
	</body>
	<script src="js/home.js"></script>
</html>
