<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(LOGIN) Bertils Blog</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <header>
        <h1>Programmerings Blog</h1>
    </header>
    <section class="post-container">
        <section class="post">
            <h2 id="post-title">Login</h2>
            <div id="post-content">
                <input type="text" name="username" id="username" class="login-info">
                <input type="password" name="password" id="password" class="login-info">
                <h3 id="error-text"></h3>
            </div>
        </section>
        <input id="post-submit" type="submit" value="Opret Post" />
    </section>
    <footer>
        <hr />
        <p id="copyright">@Copyright Bertil Frigaard 2024</p>
    </footer>
</body>
<script src="login.js"></script>
</html>